In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing the diabetes.csv file from github page

In [2]:
!git clone "https://github.com/rajasankarivm/Deep-Learning"

Cloning into 'Deep-Learning'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 26 (delta 4), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (26/26), done.

Reading the csv file

In [3]:
diabetes = pd.read_csv('/content/Deep-Learning/diabetes.csv')

Displaying the heading with 5 rows

In [4]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Importing test train split with 70% of data used for training and 30% of data used for testing

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(diabetes.drop('Outcome',axis=1), 
                                                    diabetes['Outcome'], test_size=0.30, 
                                                    random_state=101)


Importing SVM classifier and fitting with the training and testing data

In [7]:
from sklearn.svm import SVC

In [8]:
svc_classifier=SVC(kernel='linear')
svc_classifier.fit(X_train,y_train)

SVC(kernel='linear')

In [9]:
predictions=svc_classifier.predict(X_test)

In [10]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test,predictions))

from sklearn.metrics import accuracy_score

accuracy_score(y_test, predictions)

[[130  20]
 [ 34  47]]

0.7662337662337663